.right {
  border-radius: 20px;
  background: #eef1f2;
  padding: 24px;
  width: 100%;
  max-width: 270px;
  height: max-content;
}
.aside_title {
  color: #65926b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
}
.item {
  border-top: 1px solid #18272916;
  padding: 24px 0;
  display: block;
}
.item_name {
  color: #181818;
  font-size: 20px;
  font-weight: 400;
}
.item_role {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 720px) {
  .right {
    display: none;
  }
}